// Fonts
$font-Roboto: 'Roboto', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$gray: rgba(30, 40, 50, 0.05);
$dark-blue:#1E2832;


// Media Queries
$phone: 480px;
$tablet: 600px;
$desktop: 1024px;
$desktopXL: 1400px;